.logo{
  text-align: center;
}
.logos-section{
  margin: 0 auto;
  width: 70%;
}
img{
  margin: 1%;
  /* border: ; */
  border-radius: 12px;
}
img:hover{
  animation: test 1s forwards;
}
@keyframes test{
  0%{
    
  }
  100%{
    border: solid red 1px;
  }
}